
<div id="accountShipping" class="container main-container headerOffset globalPaddingBottom">
  <div class="row">
    <div id="accountSidebar" class="col-sm-2">
      <div class="w100 text-center">
        <table id="cart-summary" class="userTable std table">
          <tbody>
            <tr>
              <td><img data-src="holder.js/70x70?text=myprofile" class="img-responsive avatar"/>
                <h3>Alexander</h3>
              </td>
            </tr>
            <tr>
              <td><a href="">我的订单</a></td>
            </tr>
            <tr>
              <td><a href="">我的收藏</a></td>
            </tr>
            <tr>
              <td style="padding-bottom:40px;"><a href="">收货地址</a></td>
            </tr>
            <tr>
              <td><a href="">我的资料</a></td>
            </tr>
            <tr>
              <td><a href="">我的特权</a></td>
            </tr>
            <tr>
              <td><a href="">修改密码</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-10">
      <ul class="list-inline tab">
        <li class="active">收货地址</li>
      </ul>
      <hr class="nomg"/>
      <form action="" class="user">
        <h4 class="title">新增收货地址</h4>
        <div class="row">
          <div class="col-sm-10">
            <div class="clearfix">
              <label for="">收货人姓名</label><span>
                <input placeholder=" 请填写真实的收货人姓名" type="text"/></span>
            </div>
            <div class="clearfix">
              <label for="">手机号码</label>
              <input placeholder="请填写收货人的手机号码" type="text"/>
            </div>
            <div class="clearfix">
              <label for="">所在地区</label><span>
                <select name="" id="">
                  <option value="">黑龙江</option>
                  <option value="">北京</option>
                  <option value="">江苏</option>
                  <option value="">上海</option>
                </select>
                <select name="" id="">
                  <option value="">无锡</option>
                  <option value="">宜兴</option>
                  <option value="">江阴</option>
                </select>
                <select name="" id="">
                  <option value="">松江</option>
                  <option value="">杨浦</option>
                  <option value="">宝山</option>
                  <option value="">虹口</option>
                </select></span>
            </div>
            <div class="clearfix">
              <label for="">详细地址</label><span>
                <input placeholder="请输入您的详细地址" type="text"/></span>
            </div>
            <div class="clearfix selective"><i class="unselect"></i><span>设为默认收货地址</span></div>
            <div>
              <input type="submit" value="保存地址" class="btn btn-lg btn-dark"/>
            </div>
            <div>
              <table class="table-normal table-responsive w100 text-center">
                <thead>
                  <tr>
                    <th width="10%">收货人</th>
                    <th width="40%">详细地址</th>
                    <th width="15%">手机</th>
                    <th width="15%">操作</th>
                    <th width="20%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>张三</td>
                    <td>北京市海淀区北下关街道交大知行大厦9层</td>
                    <td>1860273390</td>
                    <td><a href="">修改 | </a><a href="">删除</a></td>
                    <td>默认地址</td>
                  </tr>
                  <tr>
                    <td>张三</td>
                    <td>北京市海淀区北下关街道交大知行大厦9层</td>
                    <td>1860273390</td>
                    <td><a href="">修改 | </a><a href="">删除</a></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>