
<div id="accountPassword" ng-controller="productsCtrl" class="container main-container headerOffset globalPaddingBottom">
  <div class="row">
    <div id="accountSidebar" class="col-sm-2">
      <div class="w100 text-center">
        <table id="cart-summary" class="userTable std table">
          <tbody>
            <tr>
              <td><img data-src="holder.js/70x70?text=myprofile" class="img-responsive avatar"/>
                <h3>Alexander</h3>
              </td>
            </tr>
            <tr>
              <td><a href="">我的订单</a></td>
            </tr>
            <tr>
              <td><a href="">我的收藏</a></td>
            </tr>
            <tr>
              <td style="padding-bottom:40px;"><a href="">收货地址</a></td>
            </tr>
            <tr>
              <td><a href="">我的资料</a></td>
            </tr>
            <tr>
              <td><a href="">我的特权</a></td>
            </tr>
            <tr>
              <td><a href="">修改密码</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-10">
      <ul class="list-inline tab">
        <li class="active">修改密码</li>
      </ul>
      <hr class="nomg"/>
      <form action="" class="user">
        <div class="row">
          <div class="col-sm-10">
            <div class="clearfix">
              <label for="">当前密码</label><span>
                <input type="text"/></span>
            </div>
            <div class="clearfix">
              <label for="">新密码</label><span>
                <input type="text"/></span>
            </div>
            <div class="clearfix">
              <label for="">确认新密码</label><span>
                <input type="text"/></span>
            </div>
            <div>
              <input type="submit" value="确认修改" class="btn btn-lg btn-dark"/>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>