
<div id="accountProfile" class="container main-container headerOffset globalPaddingBottom">
  <div class="row">
    <div id="accountSidebar" class="col-sm-2">
      <div class="w100 text-center">
        <table id="cart-summary" class="userTable std table">
          <tbody>
            <tr>
              <td><img data-src="holder.js/70x70?text=myprofile" class="img-responsive avatar"/>
                <h3>Alexander</h3>
              </td>
            </tr>
            <tr>
              <td><a href="">我的订单</a></td>
            </tr>
            <tr>
              <td><a href="">我的收藏</a></td>
            </tr>
            <tr>
              <td style="padding-bottom:40px;"><a href="">收货地址</a></td>
            </tr>
            <tr>
              <td><a href="">我的资料</a></td>
            </tr>
            <tr>
              <td><a href="">我的特权</a></td>
            </tr>
            <tr>
              <td><a href="">修改密码</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-10">
      <ul class="list-inline tab">
        <li data-target="baseInfo" class="active">基本信息</li>
        <li data-target="moreInfo">更多个人信息</li>
      </ul>
      <hr class="nomg"/>
      <form action="" class="user">
        <div id="baseInfo">
          <h4 class="title">基本信息</h4>
          <div class="row">
            <div class="col-sm-8">
              <div class="clearfix">
                <label for="">昵称</label><span>Alexander Wang</span>
              </div>
              <div class="clearfix">
                <label for="">性别</label><span class="radio-group">
                  <input type="radio" name="sex-man" checked=""/> 男
                  <input type="radio" name="sex-woman"/> 女</span>
              </div>
              <div class="clearfix">
                <label for="">生日</label><span>
                  <select name="" id="">
                    <option value="">1993</option>
                    <option value="">1994</option>
                    <option value="">1995</option>
                    <option value="">1996</option>
                  </select> 年
                  <select name="" id="">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                  </select> 月
                  <select name="" id="">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                  </select> 日</span>
              </div>
              <div class="clearfix">
                <label for="">真实姓名</label><span>
                  <input placeholder="请输入您的真实姓名" type="text"/></span>
              </div>
              <div class="clearfix">
                <label for="">电子邮箱</label><span>
                  <input placeholder="请输入您的电子邮箱Email" type="text"/></span>
              </div>
              <div class="clearfix">
                <label for="">所在区域</label><span>
                  <select name="" id="">
                    <option value="">北京</option>
                    <option value="">上海</option>
                    <option value="">山东</option>
                    <option value="">江苏</option>
                  </select>
                  <select name="" id="">
                    <option value="">朝阳</option>
                    <option value="">东城</option>
                  </select></span>
              </div>
              <div class="clearfix">
                <label for="">详细地址</label><span>
                  <input placeholder="请输入您的详细地址" type="text"/></span>
              </div>
            </div>
            <div class="col-sm-4 text-center"><img src="images/u623.png" alt="" class="img-responsive center-block mb-20"/>
              <button class="btn btn-lg btn-dark">上传头像</button>
            </div>
          </div>
        </div>
        <div id="moreInfo" style="display: none">
          <div class="col-sm-8">
            <div class="clearfix">
              <label for="">婚姻状况</label><span class="radio-group">
                <input type="radio" name="notMarried" checked=""/> 未婚 
                <input type="radio" name="married"/> 已婚</span>
            </div>
            <div class="clearfix">
              <label for="">月收入</label><span>
                <select name="" id="">
                  <option value="">5000元以下</option>
                  <option value="">5000-7999元</option>
                  <option value="">8000-9999元</option>
                </select></span>
            </div>
            <div class="clearfix">
              <label for="">身份证号码</label><span>
                <input placeholder="请输入正确的身份证号码" type="text"/></span>
            </div>
            <div class="clearfix">
              <label for="">教育程度</label><span>
                <select name="" id="">
                  <option value="">高中</option>
                  <option value="">大专</option>
                  <option value="">本科</option>
                  <option value="">硕士</option>
                  <option value="">博士</option>
                </select></span>
            </div>
            <div class="clearfix">
              <label for=""></label><span>
                <input placeholder="请输入您所工作的行业" type="text"/></span>
            </div>
          </div>
        </div>
        <div class="clearfix">
          <input type="submit" value="保存" class="btn btn-lg btn-dark"/>
        </div>
      </form>
    </div>
  </div>
  <!-- /.innerPage-->
  <div style="clear:both"></div>
</div>
<!-- main-container-->