
<div id="home" ng-controller="indexCtrl">
  <div class="container main-container headerOffset globalPaddingBottom">
    <div class="row">
      <div class="col-sm-6">
        <div class="image-show-case-wrapper center-block">
          <ks-swiper-container id="imageShowCase" swiper="swiper" on-ready="onReadySwiper(swiper)" show-nav-buttons="true" loop="true" autoResize="true" class="owl-carousel owl-theme">
            <ks-swiper-slide ng-repeat="s in [1,2,3]" class="product-slide swiper-slide"><a href="#"><img data-src="holder.js/555x555?random=yes" class="img-responsive"/></a></ks-swiper-slide>
          </ks-swiper-container>
          <!-- /#imageShowCase-->
          <div style="clear:both;"></div>
        </div>
        <!-- /.image-show-case-wrapper-->
      </div>
      <div class="col-sm-6">
        <div class="row featuredPostContainer">
          <div style="padding:0 15px;" class="featuredImageLook3">
            <div style="padding:0;" ng-repeat="s in [1,2,3,4]" class="col-md-6 col-sm-6 col-xs-6 col-xs-min-12">
              <div class="inner">
                <div class="box-content-overly box-content-overly-white">
                  <div class="box-text-table">
                    <div class="box-text-cell">
                      <div class="box-text-cell-inner dark">
                        <h1 class="uppercase">hover text</h1>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.box-content-overly-->
                <!--.img-title  text--><a href="#" class="img-block"><img data-src="holder.js/278x278" class="img-responsive"/></a>
              </div>
            </div>
          </div>
          <!-- /.featuredImageLook3-->
        </div>
      </div>
    </div>
    <div class="mt-30 mb-30 row">
      <div style="padding-right: 0;" class="col-sm-6"><a href="#"><img data-src="holder.js/570x210?random=yes" class="img-responsive"/></a></div>
      <div style="padding-left: 0;" class="col-sm-6"><a href="#"><img data-src="holder.js/570x210?random=yes" class="img-responsive"/></a></div>
    </div>
    <div ng-controller="productsCtrl" class="row mb-30">
      <div class="col-sm-2"><a href="#"><img data-src="holder.js/165x124?random=yes" class="img-responsive"/></a>
        <div>
          <h3 class="block-title-5">女装</h3>
          <div>
            <ul class="brand-list">
              <li ng-repeat="designer in designers | limitTo:maxSize" class="list-item"><a href="#" title=""> {{designer}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div style="padding-left:5px; padding-right:5px;" class="col-sm-4"><img data-src="holder.js/380x437?" class="img-responsive"/></div>
      <div ng-controller="productsCtrl" class="col-sm-6">
        <div class="row featuredPostContainer">
          <div class="featuredImageLook3">
            <div ng-repeat="product in products | limitTo:maxSize" class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
              <div style="height:219px;" class="inner">
                <div class="box-content-overly box-content-overly-white">
                  <div class="box-text-table">
                    <div class="box-text-cell">
                      <div class="box-text-cell-inner dark">
                        <h5 class="uppercase">{{product.category}}</h5><a class="addtocart"> 立刻购买</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.box-content-overly--><a href="#" class="img-block"><img data-src="holder.js/165x219?random=yes" class="img-responsive"/></a>
              </div>
            </div>
          </div>
          <!-- /.featuredImageLook3-->
        </div>
      </div>
    </div>
    <div ng-controller="productsCtrl" class="row mb-30">
      <div class="col-sm-2"><a href="#"><img data-src="holder.js/165x124" class="img-responsive"/></a>
        <div>
          <h3 class="block-title-5">男装</h3>
          <div>
            <ul class="brand-list">
              <li ng-repeat="designer in designers | limitTo:maxSize" class="list-item"><a href="#" title="">{{designer}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div style="padding-left:5px; padding-right:5px;" class="col-sm-4"><img data-src="holder.js/380x437" class="img-responsive"/></div>
      <div ng-controller="productsCtrl" class="col-sm-6">
        <div class="row featuredPostContainer">
          <div class="featuredImageLook3">
            <div ng-repeat="product in products | limitTo:maxSize" class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
              <div style="height:219px;" class="inner">
                <div class="box-content-overly box-content-overly-white">
                  <div class="box-text-table">
                    <div class="box-text-cell">
                      <div class="box-text-cell-inner dark">
                        <h5 class="uppercase">{{product.category}}</h5><a class="addtocart"> 立刻购买</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.box-content-overly--><a href="#" class="img-block"><img data-src="holder.js/165x219?random=yes" class="img-responsive"/></a>
              </div>
            </div>
          </div>
          <!-- /.featuredImageLook3-->
        </div>
      </div>
    </div>
    <div ng-controller="productsCtrl" class="width100 section-block">
      <div class="row featuredImgLook2">
        <div ng-repeat="product in products | limitTo:fourItem" class="col-md-3 col-sm-6 col-xs-6">
          <div style="height: 428px;" class="inner"><a href="category.html" class="img-link"><img data-src="holder.js/241x180?random=yes" class="img-responsive"/></a>
            <h5 class="text-left mt-20">{{product.designer}}</h5>
            <p>{{product.text}}</p><a class="btn-link">查看更多<i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /.row-->
    </div>
    <div class="mt-30 mb-30 row">
      <div style="padding-right: 0;" class="col-sm-6"><a href="#"><img data-src="holder.js/570x210?random=yes" class="img-responsive"/></a></div>
      <div style="padding-left: 0;" class="col-sm-6"><a href="#"><img data-src="holder.js/570x210?random=yes" class="img-responsive"/></a></div>
    </div>
  </div>
</div>