
<div id="products" ng-controller="productsCtrl">
  <div class="container main-container headerOffset globalPaddingBottom">
    <div class="row">
      <div id="left_column" class="column col-xs-12 col-sm-3">
        <div class="panel panel-default mb-30">
          <div class="panel-heading">
            <h4 class="title_block"><a data-toggle="collapse" href="#collapseBrand" class="collapseWill">设计师<span class="pull-left"><i class="fa fa-caret-right"></i></span></a></h4>
          </div>
          <div id="collapseBrand" class="panel-collapse collapse in">
            <div class="panel-body smoothscroll maxheight300">
              <div ng-repeat="designer in designers" class="block-element">
                <label>
                  <input type="checkbox" name="tour" value="0"/>{{designer}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default mb-30">
          <div class="panel-heading">
            <h4 class="title_block"><a data-toggle="collapse" href="#collapseBrand" class="collapseWill">分类<span class="pull-left"><i class="fa fa-caret-right"></i></span></a></h4>
          </div>
          <div id="collapseBrand" class="panel-collapse collapse in">
            <div class="panel-body smoothscroll maxheight300">
              <div ng-repeat="category in categories" class="block-element">
                <label>
                  <input type="checkbox" name="tour" value="0"/>{{category}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default mb-30">
          <div class="panel-heading">
            <h4 class="title_block"><a data-toggle="collapse" href="#collapseColor" class="collapseWill">颜色<span class="pull-left"><i class="fa fa-caret-right"></i></span></a></h4>
          </div>
          <div id="collapseColor" class="panel-collapse collapse in">
            <div class="panel-body smoothscroll maxheight300 color-filter">
              <div ng-repeat="color in colors" class="block-element">
                <label>
                  <input type="checkbox" name="tour" value="0"/><small style="background-color:{{color.value}}"></small>{{color.name}}<span>({{color.quantity}})</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default mb-30">
          <div class="panel-heading">
            <h4 class="title_block"><a data-toggle="collapse" href="#collapsePrice" class="collapseWill">价格<span class="pull-left"><i class="fa fa-caret-right"></i></span></a></h4>
          </div>
          <div id="collapsePrice" class="panel-collapse collapse in">
            <div class="panel-body smoothscroll maxheight300 color-filter">
              <div ng-repeat="price in prices" class="block-element">
                <label>
                  <input type="checkbox" name="tour" value="0"/>{{pricerange}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="center_column" class="col-xs-12 col-sm-9">
        <div class="mb-30 mt-10"><img src="images/category.jpg" class="img-responsive"/></div>
        <ul class="product_list grid row">
          <li ng-repeat="product in products" class="ajax_block_product col-xs-12 col-sm-6 col-md-4">
            <div itemscope="" itemtype="" class="product-container style3 clearfix">
              <div class="left-block">
                <div class="product-image-container">
                  <div data-idproduct="1" class="vel-image-more"><a href="#" title=""><img data-src="holder.js/260x347" class="img-responsive"/></a></div><a href="#" title="" itemprop="url" class="product_img_link"><img data-src="holder.js/260x347" alt="" title="" itemprop="image" class="img-responsive"/></a>
                  <div itemprop="offers" itemscope="" class="content_price price_prefix"><span itemprop="price" itemscope="" class="price product-price"> ￥{{product.price}}</span><span class="old-price product-price"> ￥{{product.price}}</span></div>
                </div>
              </div>
              <div class="right-block">
                <h5 itemprop="name"><a href="#" title="Product-{{product.id}}" class="product-name"> Product-{{product.id}}</a></h5>
                <div class="comments_note clearfix">
                  <div class="text-center">{{product.designer}}</div>
                  <div class="price"><span class="price product-price"> ￥{{product.price}}</span><span class="old-price product-price"> ￥{{product.price}}</span></div>
                  <div class="button-container clearfix"><a href="#" class="addToWishlist text-center"><i class="fa fa-heart-o"></i></a><a href="#" class="button ajax_add_to_cart_button text-center"><i class="fa fa-shopping-cart"></i></a></div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="row mb-30 mt-30 text-center">
          <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" boundary-links="true" previous-text="‹" next-text="›" first-text="«" last-text="»" class="pagination-sm"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>