
<div id="product" ng-controller="productCtrl">
  <div class="container main-container headerOffset">
    <div class="row transitionfx">
      <!-- left column-->
      <div class="col-lg-6 col-md-6 col-sm-6">
        <!-- product Image and Zoom-->
        <div class="main-image sp-wrap col-lg-12 no-padding style2 style2look2"><a ng-href="../images/zoom/zoom{{s}}hi.jpg" ng-repeat="s in [1,2,3,4,5]"><img src="../images/zoom/zoom{{s}}.jpg" alt="img" class="img-responsive"/></a></div>
      </div>
      <!-- / left column end-->
      <!-- right column-->
      <div class="info-containter col-lg-6 col-md-6 col-sm-5">
        <h1 class="product-title">彩色纯棉针织上衣</h1>
        <h4 class="designer-name">Valentino</h4>
        <div>
          <div class="product-price col-xs-6"><span class="price-sales"> ￥70</span><span class="price-standard">￥95</span></div>
          <div class="details-description text-right col-xs-6">
            <p>只剩一件</p>
          </div>
        </div>
        <div class="color-details col-xs-12 row">
          <ul class="swatches Color">
            <li class="selected"><a style=""> 38</a></li>
            <li><a> 40</a></li>
            <li><a> 42</a></li>
            <li><a> 44</a></li>
          </ul>
        </div>
        <!-- /.color-details-->
        <div class="cart-actions mt-20">
          <div class="addto">
            <button onclick="productAddToCartForm.submit(this);" title="Add to Cart" type="button" class="button btn-cart cart first col-xs-3">立刻购买</button><a class="link-wishlist wishlist col-xs-3 text-center"> 添加购物车</a>
          </div><a class="loveit pull-right"><i class="fa fa-star-o">收藏</i></a>
          <div style="clear:both"></div>
        </div>
        <!-- /.cart-actions-->
        <div class="clear"></div>
        <div id="accordion-1" class="panel-group acc-v1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One" class="accordion-toggle">商品详情</a></h4>
            </div>
            <div id="collapse-One" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="row">
                  <p>丝绸 100%。黄色, 紫色及绿色 剪羊毛, 棉质与丝绸混纺 蕾丝上衣拼接连衣裙。 系有蝴蝶结的直领, 短袖, 后置隐藏式拉链, 百褶裙。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two" class="accordion-toggle collapsed">尺码指导</a></h4>
            </div>
            <div id="collapse-Two" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="row">
                  <p>意大利码，模特身高174CM，身穿M码#x7801;</p>
                  <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-sm">查看尺码详细信息</button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three" class="accordion-toggle collapsed">寄送信息</a></h4>
            </div>
            <div id="collapse-Three" style="height: 0px;" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="row">
                  <p> 的订单将会从绘事后素直接送达您手中，所有商品将由顺丰快递全程负责，方便您随时跟踪。</p>
                </div>
              </div>
            </div>
          </div>
          <!-- /.product-tab-->
          <div style="clear:both"></div>
          <!-- /.product-share-->
        </div>
      </div>
      <!-- / right column end-->
    </div>
    <!-- /.row-->
    <div class="brands mt-30">
      <div class="row">
        <div class="col-sm-3"><img data-src="holder.js/175x175?text=designer" class="img-responsive brand-img"/></div>
        <div class="col-sm-8">
          <div class="row mt-30">
            <div class="col-sm-4">
              <h2>Valentino</h2>
            </div>
            <div class="col-sm-6"><a class="loveit"><i class="fa fa-2x fa-star-o">收藏</i></a></div>
          </div>
          <p>Valentino是意大利高级定制和高级成衣奢侈品品牌。Valentino代表的是一种宫廷式的奢华，高调之中却隐藏深邃的冷静，从上世纪60年代以来一直都是意大利的国宝级品 牌。历久弥新，永不过时，是设计师Valentino Garavani对于设计所抱持的信念。Valentino的作品都精致得好像是艺术品。</p>
        </div>
      </div>
    </div>
    <div class="comments mt-30">
      <h3>商品评论</h3>
      <div ng-repeat="s in [1,2,3]" class="row comment-item mb-20">
        <div class="col-sm-1"><img data-src="holder.js/60x60?text=user" class="user-img"/></div>
        <div class="col-sm-7">
          <p class="date">评论时间;2015-09-06 13:09:54</p>
          <p>我是评论内容我是评论内容我是评论内容</p>
          <div ng-repeat="s in [1,2,3]" class="lightbox"><a href="images/{{s}}.jpg" data-featherlight="image" title="thumb"><img src="images/{{s}}.jpg" class="img-responsive"/></a></div>
        </div>
        <div class="col-sm-4 text-right">
          <div class="rating">
            <p><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star"></i></span><span><i class="fa fa-star-o"></i></span><span class="ratingInfo"></span></p>
          </div>
          <p class="rate-text">评分</p>
        </div>
      </div>
    </div>
    <!-- /main-container-->
    <div class="gap"></div>
  </div>
</div>