/*--custom.css---*/

.swiper-container {
  height: 555px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("../../images/site/arrow-right.png");
  right: 0;
  left: auto;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position:center center ;
  top: 45%;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("../../images/site/arrow-left.png");
  right: auto;
  left: 0;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position:center center ;
  top: 45%;
}
.navbar-tshop {
    background: #fff;
    -webkit-box-shadow: 0px 0px 2px #cccccc;
    box-shadow: 0px 0px 2px #cccccc;
}

.navbar-top {
    background: #000;
}

.navbar-brand {
    height: auto;
}

.nav > li.active, .nav > li > a:hover, .nav > li > a:focus, .nav > li:hover > a {
    background: transparent;
}

body {
  font-weight: normal;
}

.navbar-nav > li > a {
    color: #000;
    background: #fff;
    font-size: 16px;
    font-weight: normal;
    padding-top: 37px;
}

.navbar-nav > li > a:hover {
    background: transparent;
}

.navbar-nav > li {
    margin-left: 10px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .cartMenu:hover > a.dropdown-toggle {
    background: transparent;
}

.cartMenu a.dropdown-toggle {
    padding-top: 37px;
    color: #000;
}

.search-box .input-group {
    color: #000;
    margin-top: 30px;
}

.btn-nobg {
    color: #000;
}

.megamenu-content ul li {
    border-bottom: none;
}

.megamenu-content ul li {
    padding-bottom: 0;
}

.megamenu-content ul li {
    background: #fff;
    color: #000;
}

.padding30 {
    padding: 30px;
}

.padding20 {
    padding: 20px;
}

.back-grey {
    background: #f5f5f5;
}

.grey {
    color: #999;
}

.b-border {
    border-bottom: 1px solid #DBDBDB;
}

.featuredImageLook3 .inner {
    margin-bottom: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.block-title-5 {
    padding: 10px 20px;
    background: #404040 url("img/arrow.png") center right no-repeat;
    background-size: 40px;
    color: #fff;
    margin-bottom: 0;
}

.brand-list{
  border: 1px solid #E2E2E2;
  padding: 15px;
  height: 270px;
  overflow: auto;
}

.brand-list li{
  margin-bottom: 10px;
}

.footer h3 {
    color: #000;
}

.footer-bottom {
    background: #000;
    color: #999;
}

.productPopItem {
    border: none;
}

#search_block_top #searchbox {
  /* float: left; */
  width: 100%;
}
.rtl #search_block_top #searchbox {
  float: right;
}
#search_block_top .btn.button-search {
  display: block;
  position: absolute;
  top: 1px;
  right: 0;
  border: none;
  color: #000;
  width: 35px;
  text-align: center;
  height: 58px;
  background-color: white;
}
.rtl #search_block_top .btn.button-search {
  left: 0;
  right: auto;
}
#search_block_top .btn.button-search span {
  display: none;
}
#search_block_top .btn.button-search:before {
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  font-size: 13px;
  width: 100%;
  text-align: center;
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: transparent;
}
#search_block_top .btn.button-search:hover {
  color: #fff;
}
#search_block_top .btn.button-search:hover:after {
  display: none;
}
#search_block_top #search_query_top {
  display: inline;
  line-height: 60px;
  height: 60px;
  background-color: #fff;
}
#search_block_top.style1 .btn.button-search {
  display: block;
  position: absolute;
  top: 1px;
  right: 1px;
  border: none;
  color: #999;
  width: 35px;
  text-align: center;
  height: 33px;
  border-left: 1px solid #e2e2e2;
  border-radius: 0;
}

.rtl #search_block_top.style1 .btn.button-search {
  left: 1px;
  right: auto;
}
.rtl #search_block_top.style1 .btn.button-search {
  border-right: 1px solid #e2e2e2;
  border-left: inherit;
}
#search_block_top.style1 .btn.button-search span {
  display: none;
}
#search_block_top.style1 .btn.button-search:before {
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  font-size: 13px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 34px;
  font-weight: normal;
}

.dropdown-menu {
      border-top: 1px solid rgba(0, 0, 0, .15);
}

#search_block_top.style1 #search_query_top {
  display: inline;
  padding: 5px 15px;
  line-height: 33px;
  height: 35px;
  border: 1px solid #e2e2e2;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
#search_block_top:hover {
  width: 200px;
}
#search_block_top:hover #search_query_top:active, #search_block_top:hover #search_query_top:focus {
  width: 200px;
}

.ac_results {
  background: white;
  border: 1px solid #e2e2e2;
  width: 300%!important;
  margin-top: -1px;
}
.ac_results li {
  padding: 0 10px;
  font-weight: normal;
  color: #686666;
  font-size: 13px;
  line-height: 22px;
}
.ac_results li.ac_odd {
  background: white;
}
.ac_results li:hover, .ac_results li.ac_over {
  background: #fbfbfb;
  color: #9d3bc6;
}

form#searchbox {
  position: relative;
}
form#searchbox label {
  color: #333333;
}
form#searchbox input#search_query_block {
  margin-right: 10px;
  max-width: 222px;
  margin-bottom: 10px;
  display: inline-block;
  float: left;
}
form#searchbox .button.button-small {
  float: left;
}
form#searchbox .button.button-small i {
  margin-right: 0;
}

.cartMenu {
    float: right;
}

#search_block_top {
    float: left;
    padding-top: 30px;
}

.padding-left-right-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.title_block {
  font-size: 16px;
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 10px;
  position: relative;
  display: block;
}

.title_block:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: #252525;
  width: 50px;
  height: 2px;
}

.pagination {
  border-radius: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pagination > li > a, .pagination > li > span {
  color: #000;
}

.panel-default {
  border: none;
  box-shadow: none;
}

.panel-heading {
  padding: 0;
}


.panel-default > .panel-heading {
  border: none;
  background: transparent;
}

.product_list.grid .ajax_block_product .style3 .button-container a {
    display: inline-block;
    padding: 13px 1px;
    margin-top: 0;
    color: #fff;
    background-color: #000;
    float: left;
    width: 50%;
}

.icon-search:before {
    content: "\f002";
}

.product_list.grid .ajax_block_product .style3 .button-container a .icon {
    width: 14px;
    height: 13px;
}

.right-block .price {
  margin-top: 15px;
}

.product_list .product-price {
  font-size: 16px;
}

.product_list .old-price {
  font-size: 14px;
}

.product_list.grid .ajax_block_product .style3 .button-container {
  top: 40px;
}

.style2 .sp-thumbs {
    top: 0 !important;
    width: 15% !important;
}

.sp-thumbs {
  left: 0 !important;
}

.style2 .sp-large {
  float: right;
}

.swatches a {
  line-height: 30px;
}

.loveit {
  color: #999;
  padding-top: 5px;
  display: inline-block;
}

.loveit i{
  margin-right: 8px;
  font-size: 14px;
  margin-top:5px;
}

.loveit:hover {
  color: #000;
}

.cart-actions button, .cart-actions .btn-cart, .cart-actions .wishlist {
  padding: 10px 13px;
  border-radius: 0;
  font-size: 16px;
}

.panel-heading, .panel-group .panel {
  border: none;
}

.panel-title {
  border-bottom: 1px solid #B7B8B7;
}

.panel-heading a {
    display: block;
    color: #000;
    padding: 10px 0;
}

.panel-group .accordion-toggle.collapsed:before {
    content: "\e080";
}

.panel-group .accordion-toggle:before {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    color: #000;
    float: right;
}

.panel-body {
  color: #AAABAA;
}

.modal-title-site {
  font-size: 24px;
}

.size-dialog {
  margin-top: 20vh;
  width: 800px;
}

.brands {
    border: 1px solid #ccc;
    padding: 30px;
}

.brand-img {
    border-radius: 50%;
}

.comments {
  color:#BBBBBB;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 40px;
}

.lightbox a{
  display: block;
  float: left;
  width: 70px;
  margin-right: 10px;
  background: black;
}

.lightbox a:hover img{
  opacity: .6;
}

.comments h3 {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 20px;
}

.comments .comment-item p{
  margin-bottom: 15px;
  color: black;
}

.comments .comment-item .date{
  opacity: .3;
  font-size: 13px;
}

.comments .comment-item .rate-text{
  float: right;
  display: inline-block;
  opacity: .4;
}

.comments .comment-item .rating{
  float: right;
}

.user-img {
    border-radius: 180px;
    width: 60px;
}

/*--custom.css---*/

/*--leon.css---*/
.btn.btn-lg {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.disabled,
.disabled:hover,
.disabled a,
.disabled a:hover {
  color: #ccc;
  cursor: default;
}
.CartProductThumb img {
  margin-right: 10px;
}
.op {
  padding: 0 10px;
}
.CartProduct .title {
  padding-top: 46px;
}
.title-small {
  font-size: 20px;
  margin-bottom: 15px;
}
.cartTable {
  border-top: none;
}
.cartTable tr td:first-child,
.cartTable .CartProduct.cartTableHeader td:first-child {
  text-align: left;
}
.cartTable *::selection {
  background: transparent;
  color: inherit;
}
.cartTable .title {
  text-align: left;
}
.cartTableHeader {
  background: transparent;
  font-weight: normal;
}
.selective {
  position: relative;
}
.cartTable .CartProduct.cartTableHeader td {
  text-align: center;
}
.cartTable .number {
  padding-left: 4%;
  text-align: left;
}
.cartTable .compute td {
  padding-top: 20px;
  padding-bottom: 20px;
}
.cartTable td > .total,
.cartTable td > .charge {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
}
.highlight {
  padding-left: 2px;
  padding-right: 2px;
  color: #f00;
}
.cartTable .bottom {
  border-top: 1px solid #ccc;
}
.cartTable .bottom td * {
  height: 75px;
  line-height: 75px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.CartProduct.pager {
  margin: 0;
}
.CartProduct.pager .btn-lg {
  padding: 10px 24px;
  font-size: 20px;
  border-radius: 0;
  width: 130px;
}
.CartProduct.pager .previous a {
  margin-left: 5%;
  margin-top: -50px;
}
.CartProduct.pager .next a {
  margin-right: 5%;
  background-color: #333;
  color: #ffffff;
}
.header-title {
  background-color: #e5e5e5;
  padding: 50px 0 50px 50px;
}
.header-title .zh {
  font-family: Rockwell-ExtraBold, 'Rockwell Extra Bold';
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  line-height: 56px;
  padding: 0 5px;
}
.header-title .en {
  color: #999999;
  display: inline;
  font-family: ArialMT, Arial;
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
  height: auto;
  line-height: 32px;
  text-align: left;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
i.select,
i.unselect {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer ;
  margin-bottom: -4px;
  margin-right: 5px;
}
i.select {
  background-image: url(../../images/select.png);
}
i.unselect {
  background-image: url(../../images/unselect.png);
}
.cartTable td {
  text-align: center ;
}
.info-wrapper {
  background: #f3f3f3;
  padding: 20px 15px;
}
.info-wrapper h2,
.info-wrapper p {
  margin: 0;
  padding-bottom: 0;
}
.info-wrapper hr {
  border-top: 1px solid #ccc;
}
.info-wrapper .mb-10 {
  margin-bottom: 10px;
}
.info-wrapper .payAmount {
  font-size: 20px;
  margin-right: 50px;
}
.payType-wrapper {
  border: 1px solid #eee;
}
.payType-wrapper .title {
  color: #333333;
  font-family: Arial-BoldMT, 'Arial Bold', Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  border-bottom: 1px solid #eee;
  padding: 15px 0 10px 15px;
}
.payType-wrapper .pay {
  padding-left: 50px;
  padding-right: 50px;
}
.payType-wrapper > ul {
  margin-top: 60px;
  margin-bottom: 60px;
}
.btn-dark,
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  border-color: #20354a;
  color: #FFFFFF;
  background-color: #343434;
}
textarea.comment {
  border: 1px solid #eee;
  line-height: 2.5;
  display: block;
}
.score * {
  font-size: 18px;
  letter-spacing: 3px;
}
.score i {
  cursor: pointer;
}
.caption {
  color: #666666;
  display: inline;
  font-family: STHeitiSC-Light, 'Heiti SC Light', 'Heiti SC';
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  height: auto;
  line-height: 14px;
  text-align: left;
}
.addPhoto {
  border: 1px solid #eee;
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
}
.photo-add::after {
  content: '添加照片';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -15px;
}
.userTable {
  border: 1px solid #ddd;
}
.userTable td > a {
  position: relative;
}
.userTable td > a.active {
  color: #95a5a6;
}
.userTable td > a.active::after {
  content: '>';
  position: absolute;
  right: -10px;
}
.userTable tbody tr td {
  border-top: none;
}
.userTable tr:first-child td {
  border-bottom: 1px solid #eee;
}
.avatar {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
}
form.user {
  padding: 20px 0;
}
form.user label {
  width: 10%;
  min-width: 100px;
  font-weight: normal;
}
form.user .clearfix {
  height: 40px;
}
input[type='text'] {
  border-width: 1px;
}
form.user input[type="text"] {
  height: auto;
  width: 200px;
}
form.user div select {
  -webkit-appearance: menulist-button;
  border-color: #999999;
  margin: 0 10px;
}
form.user div select:nth-child(1) {
  margin-left: 0;
}
form.user input[type="submit"] {
  padding: 7px 25px;
}
form.user h4.title {
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  height: auto;
  line-height: 17px;
  text-align: left;
}
ul.tab > li {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  color: #858585;
}
ul.tab > li.active {
  color: #000;
  border-bottom: 2px solid #000;
}
hr.nomg {
  margin: 0;
}
input[type="text"].quanityChooser {
  height: 25px;
  line-height: 25px;
  width: 45px;
  text-align: center;
  margin-bottom: 0;
  border: 1px solid #DDD;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
}
.quanityChooser-wrapper {
  display: inline-block;
  border: 1px solid #ddd;
}
.quanityChooser-wrapper span {
  display: inline-block;
  width: 15px;
  cursor: pointer;
}
.text-hover {
  background-color: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 5px 20px 10px 5px;
  cursor: pointer;
  position: absolute;
  left: 35%;
  top: 53%;
  display: none;
}
.img-hover {
  max-width: 500px;
}
.table-normal {
  border: 1px solid #eee;
  margin: 30px 0;
}
.table-normal td {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.table-normal th,
.table-normal td {
  line-height: 50px;
  text-align: center;
}
.table-normal a,
.table-normal a:hover,
a.blue,
a.blue:hover {
  color: #0000ff;
}
.collect .item-wrapper {
  position: relative;
}
.collect .item-wrapper.on::before,
.collect .item-wrapper.on::after {
  content: '';
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  background-color: #858585;
  background-repeat: no-repeat;
  -webkit-background-size: 80%;
  background-size: 80%;
  background-position: 50% 50%;
  top: 0;
  cursor: pointer;
}
.collect #designer .item-wrapper.on::before {
  display: none;
}
.collect .item-wrapper::before {
  left: 0;
  background-image: url(../../images/u647.png);
}
.collect .item-wrapper::after {
  right: 0;
  background-image: url(../../images/u649.png);
}
.orderTable {
  margin: 10px 0;
}
.orderTable .header {
  height: 50px;
  background-color: #eee;
  margin: 10px 0 5px 0;
}
.orderTable * {
  text-align: center;
}
.orderTable .text-left {
  text-align: left;
}
.orderTable .title {
  text-align: left;
}
.orderTable tr.CartProduct td {
  padding: 10px;
}
.orderTable tr td:nth-child(1) {
  border-left: 1px solid #eee;
}
.orderTable tr td:last-child {
  border-right: 1px solid #eee;
}
.orderTable .order-info {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 380px;
  text-align: left;
}
.orderTable .order-info span {
  color: #9d9d9d;
  font-size: 0.9em;
  margin: 10px;
}
.orderTable td {
  position: relative;
}
.orderTable tr.CartProduct td {
  padding-top: 40px;
}
.list-form > li {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-bottom: 0;
}
.list-form > li:last-child {
  border-bottom: 1px solid #ccc;
}
.leon-pager {
  font-size: 12px;
}
.leon-pager .prev,
.leon-pager .next {
  border: 1px solid #000;
  padding: 2px;
  cursor: pointer;
}
.leon-pager .leon-page {
  font-size: 14px;
  line-height: 30px;
}
.nav-icons {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.nav-icons:before {
  content: '';
  width: 100%;
  border-bottom: 2px dashed #ccc;
  display: block;
  top: 25%;
  position: absolute;
}
.nav-icons li {
  background-color: #fff;
  padding-top: 40px;
  width: 20%;
  min-width: 90px;
  height: 60px;
  font-size: 13px;
  position: relative;
}
.nav-icons li:before {
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  line-height: 28px;
  left: 50%;
  margin-left: -14px;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.nav-icons .step1 {
  color: #999999;
}
.nav-icons .step1::before {
  content: '1';
  background-color: #ccc;
  color: #999999;
}
.nav-icons .step2 {
  color: #000;
}
.nav-icons .step2::before {
  content: '2';
  background-color: #000;
  color: #ffffff;
}
.nav-icons .step3 {
  color: #999999;
}
.nav-icons .step3::before {
  content: '3';
  background-color: #ccc;
  color: #000;
}
.orderInfo a {
  text-decoration: underline;
}
.orderInfo > li {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px;
}
.orderInfo > li span {
  padding: 0 2px;
}
.orderInfo > li dd {
  margin-bottom: 10px;
}
.orderInfo > li .addon {
  margin-top: 10px;
  padding-left: 10px;
}
.orderInfo .content-wrapper {
  width: 94%;
  margin-left: 3%;
}
.orderInfo .extra {
  margin-top: 20px;
}
i.plus {
  margin-right: 5px;
  font-size: 12px;
  padding: 2px;
  width: 18px;
  height: 18px;
  cursor: pointer ;
  border: 1px solid #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.mini {
  font-size: 12px;
}
.order-table {
  text-align: center;
}
.order-table * {
  font-weight: 100;
}
.order-table thead th {
  padding-bottom: 30px;
  text-align: center;
}
.order-table thead th:first-child {
  text-align: left;
}
.order-table tbody td > .title {
  margin-top: 40px;
  display: inline-block;
  line-height: 22px;
  margin-left: 10px;
}
.order-table tbody td:first-child {
  text-align: left;
}
.sum {
  text-align: right;
}
.sum > div {
  margin-bottom: 10px;
}
.sum .text {
  display: inline-block;
  width: 50%;
}
.sum .value {
  display: inline-block;
  width: 50%;
}
.sum .total {
  font-size: 20px;
  margin: 20px 0;
}
.sum .highlight {
  font-size: 1.2em;
}
#login-form {
  width: 500px;
  margin: 0 auto;
  padding: 35px 70px 35px 135px;
  position: relative;
  background: url(../../images/u424.png) #ffffff no-repeat left top;
  -webkit-background-size: 102px 384px;
  background-size: 102px 384px;
}
#login-form form {
  margin-bottom: 20px;
}
#login-form form input[type='text'] {
  padding: 10px;
}
#login-form form input[type='submit'] {
  margin: 20px 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#login-form form > div {
  background-color: #eee;
  margin-bottom: 10px;
}
#login-form form > div > input {
  width: 240px;
  border: 0;
  background-color: transparent;
  margin-bottom: 0;
}
#login-form form > div > i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  border-right: 1px solid #ccc;
}
#login-form .addon {
  line-height: 26px;
  height: 26px;
}
#login-form .addon .btn {
  height: 26px;
  padding: 4px;
  font-size: 12px;
}
#register-form {
  width: 450px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px 0;
  position: relative;
}
#register-form .form-wrapper {
  width: 300px;
  margin: 0 auto;
}
#register-form .form-wrapper h3 {
  color: #999999;
  padding-bottom: 5px;
}
#register-form .form-wrapper h3 .grey {
  font-size: 12px;
  margin-top: 5px;
}
#register-form .form-wrapper form > div > input {
  width: 100%;
  padding-left: 10px;
  background-color: #eee;
}
#register-form .form-wrapper form > div.verify input {
  width: 180px;
  margin-right: 10px;
}
#register-form .form-wrapper form > div.verify button {
  width: 35%;
  font-size: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#register-form .form-wrapper input[type='submit'] {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#password-form {
  width: 450px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px 0;
  position: relative;
}
#password-form .form-wrapper {
  width: 300px;
  margin: 0 auto;
}
#password-form .form-wrapper h3 {
  color: #999999;
  padding-bottom: 5px;
}
#password-form .form-wrapper h3 .grey {
  font-size: 12px;
  margin-top: 5px;
}
#password-form .form-wrapper form > div > input {
  width: 100%;
  padding-left: 10px;
  background-color: #eee;
}
#password-form .form-wrapper form > div.verify input {
  width: 180px;
  margin-right: 10px;
}
#password-form .form-wrapper form > div.verify button {
  width: 35%;
  font-size: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#password-form .form-wrapper input[type='submit'] {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-transparent {
  background-color: transparent;
  border: 1px solid #333;
  color: #333;
}
.vertical-menu-list > li {
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
}
.vertical-menu-list > li dt {
  font-family: 'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
}
.vertical-menu-list > li dd {
  font-family: 'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
  color: #999999;
  padding-left: 15px;
  margin: 5px 0;
}
.content .title {
  margin: 15px 0;
  font-weight: bold;
}
h4.title .addon {
  font-size: 14px;
  margin: 0 20px;
}
.bg-grey {
  background-color: #f2f2f2;
}
.upToTop {
  margin-top: -30px;
}
.carousel-caption {
  left: 0;
  position: relative;
  color: #000;
  text-shadow: none;
}
.carousel-caption h4 {
  margin: 5px 0;
  min-height: 0;
  height: auto;
  font-weight: bold;
}
.carousel-caption p {
  width: 80%;
  margin: 0 auto;
}
.glyphicon-chevron-right::before,
.glyphicon-chevron-left::before {
  color: #000;
}
.carousel-control.right {
  right: -30px;
}
.carousel-control.left {
  left: -30px;
}
.designerWork {
  padding-top: 30px;
  border: 1px solid #ccc;
}
.designerWork .work > div > img {
  border: 1px solid #ccc;
}
.designerWork .carousel-control {
  z-index: 999;
}
.alphabet {
  padding-left: 0;
  padding-right: 0;
}
.alphabet dt {
  height: 50px;
  line-height: 50px;
  -webkit-box-shadow: 0 5px 5px #ccc;
  -moz-box-shadow: 0 5px 5px #ccc;
  box-shadow: 0 5px 5px #ccc;
}
.alphabet dt span {
  color: #ccc;
  padding: 0 1.38%;
  font-size: 16px;
}
.alphabet dd {
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
}
.alphabet dd .char {
  height: 100px;
  display: inline-block;
  position: relative;
}
.alphabet dd .char span {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ccc;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}
.alphabet dd .content {
  display: inline-block;
}
.alphabet dd .content span {
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #666;
}

/*---leon.css--*/



/*---fu.css--*/
.navbar-nav > li.active > a {
    color: #7f8c8d;
}

.navbar-nav > li > a:hover {
    color: #7f8c8d;
}

.megamenu-content ul li {
    background: transparent;
}

.mt-5 {
    margin-top: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.product_list.grid .ajax_block_product .product-container .comments_note {
    padding-bottom: 6px;
}

footer h2 {
    padding-bottom: 10px;
}

.headerOffset {
    padding-top: 140px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.black {
  color: #000;
}

.signUpContent .modal-dialog {
    max-width: 500px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

button.close {
  float: none;
  position: absolute;
  right: 5px;
  z-index: 10;
}
/*---fu.css--*/
