
.navbar-nav > li.active > a {
    color: #7f8c8d;
}

.navbar-nav > li > a:hover {
    color: #7f8c8d;
}

.megamenu-content ul li {
    background: transparent;
}

.mt-5 {
    margin-top: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.product_list.grid .ajax_block_product .product-container .comments_note {
    padding-bottom: 6px;
}

footer h2 {
    padding-bottom: 10px;
}

.headerOffset {
    padding-top: 140px;
}

.mt-60 {
	margin-top: 60px;
}

.mb-60 {
	margin-bottom: 60px;
}

.black {
	color: #000;
}
