
<div id="accountSidebar" class="col-sm-2">
  <div class="w100 text-center">
    <table id="cart-summary" class="userTable std table">
      <tbody>
        <tr>
          <td><img data-src="holder.js/70x70?text=myprofile" class="img-responsive avatar"/>
            <h3>Alexander</h3>
          </td>
        </tr>
        <tr>
          <td><a href="">我的订单</a></td>
        </tr>
        <tr>
          <td><a href="">我的收藏</a></td>
        </tr>
        <tr>
          <td style="padding-bottom:40px;"><a href="">收货地址</a></td>
        </tr>
        <tr>
          <td><a href="">我的资料</a></td>
        </tr>
        <tr>
          <td><a href="">我的特权</a></td>
        </tr>
        <tr>
          <td><a href="">修改密码</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>