
<!-- Modal Login start-->
<div id="ModalLogin" tabindex="-1" role="dialog" class="modal signUpContent fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" data-dismiss="modal" aria-hidden="true" class="close"></button>
      <div id="login-form">
        <h2>登录</h2>
        <form action="">
          <div><i class="fa fa-user"></i>
            <input type="text" name="" id=""/>
          </div>
          <div><i class="fa fa-unlock-alt"></i>
            <input type="text" name="" id=""/>
          </div>
          <input type="submit" value="登录" class="btn btn-dark"/><a href="#" data-dismiss="modal" aria-label="Close">
            <input type="submit" value="取消" style="margin:0;" class="btn btn-grey"/></a>
        </form>
        <div class="clearfix addon"><a href="" class="pull-left">忘记密码</a><a href="#" data-toggle="modal" data-target="#ModalSignup" data-dismiss="modal" aria-label="Close" class="pull-right">还没有账号？
            <button class="btn btn-transparent">免费注册</button></a></div>
      </div>
    </div>
    <!-- /.modal-content-->
  </div>
  <!-- /.modal-dialog-->
</div>
<!-- /.Modal Login-->