
<!-- Modal Signup start-->
<div id="ModalSignup" tabindex="-1" role="dialog" class="modal signUpContent fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" data-dismiss="modal" aria-hidden="true" class="close"></button>
      <div id="register-form">
        <div class="form-wrapper"><img src="./images/u486.png" class="img-responsive"/>
          <h3>注册<span class="pull-right grey">已有账号,<a href="#" data-toggle="modal" data-target="#ModalLogin" data-dismiss="modal" aria-label="Close">登录</a></span></h3>
          <form action="">
            <div>
              <input type="text" name="" placeholder="请输入用户名" id=""/>
            </div>
            <div>
              <input type="text" name="" placeholder="请输入手机号码" id=""/>
            </div>
            <div class="verify">
              <input type="text" name="" placeholder="请输入短信验证码" id=""/>
              <button class="btn btn-transparent">获取验证码</button>
            </div>
            <div>
              <input type="text" name="" placeholder="请输入密码" id=""/>
            </div>
            <div>
              <input type="text" name="" placeholder="请重复输入您的密码" id=""/>
            </div>
            <div>
              <input type="text" name="" placeholder="请输入邀请码" id=""/>
            </div>
            <input type="submit" value="注册" class="btn btn-dark"/><a href="#" data-dismiss="modal" aria-label="Close">
              <input type="submit" value="取消" style="margin-top:10px;" class="btn btn-grey"/></a>
          </form>
        </div>
        <button title="Close (Esc)" type="button" class="mfp-close">&times;</button>
      </div>
    </div>
    <!-- /.modal-content-->
  </div>
  <!-- /.modal-dialog-->
</div>
<!-- /.ModalSignup End-->